<br>

<h1 style="color:white; font-size:150%; text-align:justify; font-family:verdana">CARRERS</h1>     

<br>
<FORM>
<div style=" position:relative; left:80px; top:390px;" >
<input type="button" value="HOME" ONCLICK="window.location.href='http://localhost:3000/'"><br><br> 
<style>
input[type="button"]{
/* change these properties to whatever you want */
background-color: #F8F8FF;
width: 15%;
color: #1E90FF;	
font-weight: bold;
border-radius: 10px;
font-size:15pt;
position: relative;
left: 950px;
top: -500px;
min-width:65px;min-height:65px;
}
</style>
</div>
</FORM>
<h2 style="color:white; font-size:120%; text-align:justify; font-family:verdana">A CAREER fAIR</h2>
</div>

<div style="position: relative; ">
<p style="color:white; font-size:120%; text-align:justify; font-family:verdana">

Albuquerque Hospital is conducting a career fair and people interested can click the bello -:APPLY JOBS HERE" — ABQ Hospitals the largest in New Mexico
 — and provides a full range of medical and surgical healthcare services.<br><br>
  Located in the center of Albuquerque, it is part of the not-for-profit
   Presbyterian Healthcare Services, and is dedicated to the health of
    its patients, members, and communities.<br>
</p>
</div>
<FORM>
<div style=" position:relative; left:-280px; top:490px;" >
<input type="button" value="APPLY JOBS HERE" ONCLICK="window.location.href='http://www.hospitalmedicine.org/Web/Career_Center/Web/About_SHM/Industry/career_center.aspx?gclid=CNeDmMGJvMICFQcwaQod9XQAcA'"><br><br> 
<style>
input[type="button"]{
/* change these properties to whatever you want */
background-color: #F8F8FF;
width: 15%;
color: #1E90FF;	
font-weight: bold;
border-radius: 10px;
font-size:15pt;
position: relative;
left: 950px;
top: -500px;
min-width:65px;min-height:65px;
}
</style>
</div>
</FORM>
<h2 style="color:white; font-size:120%; text-align:justify; font-family:verdana">Hospital Features</h2>
</div>
<%= image_tag "exerc.jpg" %> 
<div style="position: relative; ">
<p style="color:white; font-size:120%; text-align:justify; font-family:verdana">

Presbyterian Hospital is a not-for-profit hospital located in Albuquerque, NM.<br>
Provider Type: Critical Access<br>
Ownership: Local<br>
Accepts Medicare: Yes<br>
Accepts Medicaid: Yes<br>
</p>
</div>


