<h1>Help</h1>
<p>
  Get help on the Ruby on Rails Tutorial at the
  <FORM>
<INPUT Type="BUTTON" VALUE="Sign up now!" ONCLICK="window.location.href='http://localhost:3000/sign_up/#help'"> 
</FORM>
  To get help on this sample app, see the
  <a href="http://www.railstutorial.org/book"><em>Ruby on Rails Tutorial</em>
  book</a>.
</p>

