
<br> 

<p style="color:white; font-size:120%; text-align:justify; font-family:verdana">
  <br>
  <br>
  WELCOME:
  <br>We are dedicated to the care of our patients and the Albuquerque community we serve.
 As a not-for-profit healthcare <br>
 facility, Presbyterian Hospital is dedicated to the care of its patients and community.
 With convenient medical <br>
 facilities, including specialized centers for heart health,women's health, and children's
 health,Presbyterian Hospital<br>
 is New Mexico's flagship medical facility – with the comfort and care you'd expect from a
 neighborhood hospital.You'll<br>
 be able to find the information you're looking for by using our site and the myPRES portal.
 Be sure to register for the <br>
 secure online myPRES portal to access to your health information. As a Presbyterian 
 Medical Group patient,you can <br>
 view your electronic health records, send messages to your care team, request prescription
 renewals, and more.<br>
 We are dedicated to the care of our patients and the Albuquerque community we serve.
 As a not-for-profit healthcare <br>
 facility, Presbyterian Hospital is dedicated to the care of its patients and community.
 With convenient medical <br>
 facilities, including specialized centers for heart health,women's health, and children's
 health,Presbyterian Hospital<br>
 is New Mexico's flagship medical facility – with the comfort and care you'd expect from a
 neighborhood hospital.You'll<br>
 be able to find the information you're looking for by using our site and the myPRES portal.
 Be sure to register for the <br>
 secure online myPRES portal to access to your health information. As a Presbyterian 
 Medical Group patient,you can <br>
 view your electronic health records, send messages to your care team, request prescription
 renewals, and more.<br>
                      Medical Group patient,you can <br>
 view your electronic health records, send messages to your care team, request prescription
 renewals, and more.<br>
           
</p>
<FORM>
<div style=" position:relative; left: -900px; top:85px; " >
<input type="button" value="Doctors" ONCLICK="window.location.href='http://localhost:3000/doctors'"><br><br>  
<style>
input[type="button"]{
/* change these properties to whatever you want */
background-color: #F8F8FF;
width: 15%;
color: #1E90FF;	
font-weight: bold;
border-radius: 10px;
font-size:15pt;
position: relative;
left: 950px;
top: -500px;
min-width:65px;min-height:65px;
}
</style>
</div>
</FORM>
<FORM>
<div style=" position:relative; left: -730px; top:3px; " >
<input type="button" value="Patients" ONCLICK="window.location.href='http://localhost:3000/patients'"><br><br>  
<style>
input[type="button"]{
/* change these properties to whatever you want */
background-color: #F8F8FF;
width: 15%;
color: #1E90FF;	
font-weight: bold;
border-radius: 10px;
font-size:15pt;
position: relative;
left: 950px;
top: -500px;
min-width:65px;min-height:65px;
}
</style>
</div>
</FORM>
<FORM>
<div style=" position:relative; left: -570px; top:-80px; " >
<input type="button" value="Appointments" ONCLICK="window.location.href='http://localhost:3000/appointments'"><br><br>  
<style>
input[type="button"]{
/* change these properties to whatever you want */
background-color: #F8F8FF;
width: 15%;
color: #1E90FF;	
font-weight: bold;
border-radius: 10px;
font-size:15pt;
position: relative;
left: 950px;
top: -500px;
min-width:65px;min-height:65px;
}
</style>
</div>
</FORM>
<FORM>
<div style=" position:relative; left: -400px; top:-162px; " >
<input type="button" value="Discharges" ONCLICK="window.location.href='http://localhost:3000/discharges'"><br><br>  
<style>
input[type="button"]{
/* change these properties to whatever you want */
background-color: #F8F8FF;
width: 15%;
color: #1E90FF;	
font-weight: bold;
border-radius: 10px;
font-size:15pt;
position: relative;
left: 950px;
top: -500px;
min-width:65px;min-height:65px;
}
</style>
</div>
</FORM>
<FORM>
<div style=" position:relative; left: -230px; top:-244px; " >
<input type="button" value="Bills" ONCLICK="window.location.href='http://localhost:3000/bills'"><br><br>  
<style>
input[type="button"]{
/* change these properties to whatever you want */
background-color: #F8F8FF;
width: 15%;
color: #1E90FF;	
font-weight: bold;
border-radius: 10px;
font-size:15pt;
position: relative;
left: 950px;
top: -500px;
min-width:65px;min-height:65px;
}
</style>
</div>
</FORM>

<FORM>
<div style=" position:relative; left:80px; top:-240px;" >
<input type="button" value="Find a Doctor" ONCLICK="window.location.href='http://localhost:3000/doctors/#help'"><br><br> 
<input type="button" value="About" ONCLICK="window.location.href='http://localhost:3000/static_pages/about'"><br><br> 
<input type="button" value="Services" ONCLICK="window.location.href='http://localhost:3000/static_pages/services'"><br><br>
<input type="button" value="Visiting" ONCLICK="window.location.href='http://localhost:3000/static_pages/visiting'"><br><br>
<input type="button" value="Careers" ONCLICK="window.location.href='http://localhost:3000/static_pages/careers'"><br><br>
<input type="button" value="Contact Us" ONCLICK="window.location.href='http://localhost:3000/static_pages/contact_us'">

<button type="button" value="Sign up here" onclick="window.location.href='http://localhost:3000/sign_up/#help'" >Sign up here</button>
<style>
input[type="button"]{
/* change these properties to whatever you want */
background-color: #F8F8FF;
width: 15%;
color: #1E90FF;	
font-weight: bold;
border-radius: 10px;
font-size:15pt;
position: relative;
left: 950px;
top: -500px;
min-width:65px;min-height:65px;
}
</style>
<style>
button{
/* change these properties to whatever you want */
background-color: #F8F8FF;
color: #1E90FF;	
font-weight: bold;
border-radius: 10px;
font-size:15pt;
position: relative;
left: 220px;
top: -580px;
min-width:65px;min-height:65px;
}
</style>
</div>
</FORM>
  
</p>

