<br>

<h1 style="color:white; font-size:150%; text-align:justify; font-family:verdana">VISITING</h1>    
<FORM>
<div style=" position:relative; left:80px; top:450px;" >
<input type="button" value="HOME" ONCLICK="window.location.href='http://localhost:3000/'"><br><br> 
<style>
input[type="button"]{
/* change these properties to whatever you want */
background-color: #F8F8FF;
width: 15%;
color: #1E90FF;	
font-weight: bold;
border-radius: 10px;
font-size:15pt;
position: relative;
left: 950px;
top: -500px;
min-width:65px;min-height:65px;
}
</style>
</div>
</FORM> 

<div style="position: relative; ">
<p style="color:white; font-size:120%; text-align:justify; font-family:verdana">

Presbyterian Hospital is a 453-bed acute care hospital — the largest in New Mexico
 — and provides a full range of medical and surgical healthcare services.<br><br>
  Located in the center of Albuquerque, it is part of the not-for-profit
   Presbyterian Healthcare Services, and is dedicated to the health of
    its patients, members, and communities.<br>
</p>
</div>

<h2 style="color:white; font-size:120%; text-align:justify; font-family:verdana">Hospital Features</h2>
</div>
<%= image_tag "visit.jpg" %> 
<div style="position: relative; ">
<p style="color:white; font-size:120%; text-align:justify; font-family:verdana">

Presbyterian Hospital is a not-for-profit hospital located in Albuquerque, NM.<br>
Provider Type: Critical Access<br>
Ownership: Local<br>
Accepts Medicare: Yes<br>
Accepts Medicaid: Yes<br>
</p>
</div>


