<%= form_for(@discharge) do |f| %>
  <% if @discharge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@discharge.errors.count, "error") %> prohibited this discharge from being saved:</h2>

      <ul>
      <% @discharge.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :discharge_id %><br>
    <%= f.number_field :discharge_id %>
  </div>
  <div class="field">
    <%= f.label :room_id %><br>
    <%= f.number_field :room_id %>
  </div>
  <div class="field">
    <%= f.label :admission_date %><br>
    <%= f.date_select :admission_date %>
  </div>
  <div class="field">
    <%= f.label :discharge_date %><br>
    <%= f.date_select :discharge_date %>
  </div>
  <div class="field">
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :patient_id %><br>
    <%= f.number_field :patient_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
