<h1>Listing discharges</h1>

<table>
  <thead>
    <tr>
      <th>Discharge</th>
      <th>Room</th>
      <th>Admission date</th>
      <th>Discharge date</th>
      <th>Username</th>
      <th>Patient</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <FORM>
<div style=" position:relative; left:80px; top:450px;" >
<input type="button" value="HOME" ONCLICK="window.location.href='http://localhost:3000/'"><br><br> 
<style>
input[type="button"]{
/* change these properties to whatever you want */
background-color: #F8F8FF;
width: 15%;
color: #1E90FF;	
font-weight: bold;
border-radius: 10px;
font-size:15pt;
position: relative;
left: 950px;
top: -500px;
min-width:65px;min-height:65px;
}
</style>
</div>
</FORM>
    <% @discharges.each do |discharge| %>
      <tr>
        <td><%= discharge.discharge_id %></td>
        <td><%= discharge.room_id %></td>
        <td><%= discharge.admission_date %></td>
        <td><%= discharge.discharge_date %></td>
        <td><%= discharge.username %></td>
        <td><%= discharge.patient_id %></td>
        <td><%= link_to 'Show', discharge %></td>
        <td><%= link_to 'Edit', edit_discharge_path(discharge) %></td>
        <td><%= link_to 'Destroy', discharge, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Discharge', new_discharge_path %>
