<p id="notice"><%= notice %></p>

<p>
  <strong>Discharge:</strong>
  <%= @discharge.discharge_id %>
</p>

<p>
  <strong>Room:</strong>
  <%= @discharge.room_id %>
</p>

<p>
  <strong>Admission date:</strong>
  <%= @discharge.admission_date %>
</p>

<p>
  <strong>Discharge date:</strong>
  <%= @discharge.discharge_date %>
</p>

<p>
  <strong>Username:</strong>
  <%= @discharge.username %>
</p>

<p>
  <strong>Patient:</strong>
  <%= @discharge.patient_id %>
</p>

<%= link_to 'Edit', edit_discharge_path(@discharge) %> |
<%= link_to 'Back', discharges_path %>
