<%= form_for(@login) do |f| %>
  <% if @login.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@login.errors.count, "error") %> prohibited this login from being saved:</h2>

      <ul>
      <% @login.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.text_field :password %>
  </div>
  <div class="field">
    <%= f.label :authorizedtype %><br>
    <%= f.select(:authorizedtype, options_for_select([['appointment', 'appointment'], ['doctor', 'doctor'], ['discharge', 'discharge'], ['bill', 'bill']])) %>
  </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
