<%= form_for(@bill) do |f| %>
  <% if @bill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bill.errors.count, "error") %> prohibited this bill from being saved:</h2>

      <ul>
      <% @bill.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :bill_id %><br>
    <%= f.number_field :bill_id %>
  </div>
  <div class="field">
    <%= f.label :bill_amount %><br>
    <%= f.number_field :bill_amount %>
  </div>
  <div class="field">
    <%= f.label :payment_mode %><br>
   <%= f.select(:payment_mode, options_for_select([['cash', 'cash'], ['card', 'card']])) %>
  </div>
  </div>
  <div class="field">
    <%= f.label :discharge_id %><br>
    <%= f.number_field :discharge_id %>
  </div>
  <div class="field">
    <%= f.label :appt_id %><br>
    <%= f.number_field :appt_id %>
  </div>
  <div class="field">
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
