<h1>Listing bills</h1>

<table>
  <thead>
    <tr>
      <th>Bill</th>
      <th>Bill amount</th>
      <th>Payment mode</th>
      <th>Discharge</th>
      <th>Appt</th>
      <th>Username</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <FORM>
<div style=" position:relative; left:80px; top:450px;" >
<input type="button" value="HOME" ONCLICK="window.location.href='http://localhost:3000/'"><br><br> 
<style>
input[type="button"]{
/* change these properties to whatever you want */
background-color: #F8F8FF;
width: 15%;
color: #1E90FF;	
font-weight: bold;
border-radius: 10px;
font-size:15pt;
position: relative;
left: 950px;
top: -500px;
min-width:65px;min-height:65px;
}
</style>
</div>
</FORM>
    <% @bills.each do |bill| %>
      <tr>
        <td><%= bill.bill_id %></td>
        <td><%= bill.bill_amount %></td>
        <td><%= bill.payment_mode %></td>
        <td><%= bill.discharge_id %></td>
        <td><%= bill.appt_id %></td>
        <td><%= bill.username %></td>
        <td><%= link_to 'Show', bill %></td>
        <td><%= link_to 'Edit', edit_bill_path(bill) %></td>
        <td><%= link_to 'Destroy', bill, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bill', new_bill_path %>
