<p id="notice"><%= notice %></p>

<p>
  <strong>Bill:</strong>
  <%= @bill.bill_id %>
</p>

<p>
  <strong>Bill amount:</strong>
  <%= @bill.bill_amount %>
</p>

<p>
  <strong>Payment mode:</strong>
  <%= @bill.payment_mode %>
</p>

<p>
  <strong>Discharge:</strong>
  <%= @bill.discharge_id %>
</p>

<p>
  <strong>Appt:</strong>
  <%= @bill.appt_id %>
</p>

<p>
  <strong>Username:</strong>
  <%= @bill.username %>
</p>

<%= link_to 'Edit', edit_bill_path(@bill) %> |
<%= link_to 'Back', bills_path %>
