<p id="notice"><%= notice %></p>

<p>
  <strong>Patient:</strong>
  <%= @patient.patient_id %>
</p>

<p>
  <strong>Patient name:</strong>
  <%= @patient.patient_name %>
</p>

<p>
  <strong>Pat contact num:</strong>
  <%= @patient.pat_contact_num %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @patient.date_of_birth %>
</p>

<p>
  <strong>Address:</strong>
  <%= @patient.address %>
</p>

<h2>Appointments</h2>
<div id="appointments">
  <%  @patient.appointments.each do |appointment| %>
  <%= div_for appointment do %>
  <p>
   <%= h(appointment.appt_id) %>
 </p>
<% end %>
<% end %>
</div>
<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
