<h1>Listing doctors</h1>

<table>
  <thead>
    <tr>
      <th>Doc</th>
      <th>Doc name</th>
      <th>Designation</th>
      <th>Address</th>
      <th>Doc contact num</th>
      <th>Fee</th>
      
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <FORM>
<div style=" position:relative; left:80px; top:450px;" >
<input type="button" value="HOME" ONCLICK="window.location.href='http://localhost:3000/'"><br><br> 
<style>
input[type="button"]{
/* change these properties to whatever you want */
background-color: #F8F8FF;
width: 15%;
color: #1E90FF;	
font-weight: bold;
border-radius: 10px;
font-size:15pt;
position: relative;
left: 950px;
top: -500px;
min-width:65px;min-height:65px;
}
</style>
</div>
</FORM>
    <% @doctors.each do |doctor| %>
      <tr>
        <td><%= doctor.doc_id %></td>
        <td><%= doctor.doc_name %></td>
        <td><%= doctor.designation %></td>
        <td><%= doctor.address %></td>
        <td><%= doctor.doc_contact_num %></td>
        <td><%= doctor.fee %></td>
        <td><%= link_to 'Show', doctor %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Doctor', new_doctor_path %>
