<p id="notice"><%= notice %></p>

<p>
  <strong>Doc:</strong>
  <%= @doctor.doc_id %>
</p>

<p>
  <strong>Doc name:</strong>
  <%= @doctor.doc_name %>
</p>

<p>
  <strong>Designation:</strong>
  <%= @doctor.designation %>
</p>

<p>
  <strong>Address:</strong>
  <%= @doctor.address %>
</p>

<p>
  <strong>Doc contact num:</strong>
  <%= @doctor.doc_contact_num %>
</p>

<p>
  <strong>Fee:</strong>
  <%= @doctor.fee %>
</p>



<h2>Appointments</h2>
<div id="appointments">
  <%  @doctor.appointments.each do |appointment| %>
  <%= div_for appointment do %>
  <p>
   <%= h(appointment.appt_id) %>
 </p>
<% end %>
<% end %>
</div>


<%= form_for([@doctor, Appointment.new]) do |f| %>
<p> <%= f.label :appt_id, "appt_id" %> <br />
  <%= f.text_area :appt_id %>
  </p>
  <p> <%= f.label :appt_duration, "appt_duration" %> <br />
  <%= f.text_area :appt_duration %>
  </p>
  <p> <%= f.label :appt_date, "appt_date" %> <br />
  <%= f.text_area :appt_date %>
  </p>
  
  <p> <%= f.label :doctor_id, "doctor_id" %> <br />
  <%= f.text_area :doctor_id %>
  </p>
  <p> <%= f.label :patient_id, "patient_id" %> <br />
  <%= f.text_area :patient_id %>
  </p>
  <p> <%= f.submit "Add Appointment" %> </p>
  <% end %>
<%= link_to 'Edit', edit_doctor_path(@doctor) %> |
<%= link_to 'Back', doctors_path %>
