<h1>Listing appointments</h1>

<table>
  <thead>
    <tr>
      <th>Appt</th>
      <th>Appt duration</th>
      <th>Appt date</th>
      <th>Appt time</th>
      <th>Username</th>
      <th>Doc</th>
      <th>Patient</th>
      <th>Username</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <FORM>
<div style=" position:relative; left:80px; top:450px;" >
<input type="button" value="HOME" ONCLICK="window.location.href='http://localhost:3000/'"><br><br> 
<style>
input[type="button"]{
/* change these properties to whatever you want */
background-color: #F8F8FF;
width: 15%;
color: #1E90FF;	
font-weight: bold;
border-radius: 10px;
font-size:15pt;
position: relative;
left: 950px;
top: -500px;
min-width:65px;min-height:65px;
}
</style>
</div>
</FORM>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.appt_id %></td>
        <td><%= appointment.appt_duration %></td>
        <td><%= appointment.appt_date %></td>
        <td><%= appointment.appt_time %></td>
        <td><%= appointment.username %></td>
        <td><%= appointment.doctor_id %></td>
        <td><%= appointment.patient_id %></td>
        <td><%= appointment.username %></td>
        <td><%= link_to 'Show', appointment %></td>
        <td><%= link_to 'Edit', edit_appointment_path(appointment) %></td>
        <td><%= link_to 'Destroy', appointment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Appointment', new_appointment_path %>
