<p id="notice"><%= notice %></p>
<FORM>
<div style=" position:relative; left:80px; top:450px;" >
<input type="button" value="HOME" ONCLICK="window.location.href='http://localhost:3000/'"><br><br> 
<style>
input[type="button"]{
/* change these properties to whatever you want */
background-color: #F8F8FF;
width: 15%;
color: #1E90FF;	
font-weight: bold;
border-radius: 10px;
font-size:15pt;
position: relative;
left: 950px;
top: -500px;
min-width:65px;min-height:65px;
}
</style>
</div>
</FORM>
<p>
  <strong>Appt:</strong>
  <%= @appointment.appt_id %>
</p>

<p>
  <strong>Appt duration:</strong>
  <%= @appointment.appt_duration %>
</p>

<p>
  <strong>Appt date:</strong>
  <%= @appointment.appt_date %>
</p>

<p>
  <strong>Appt time:</strong>
  <%= @appointment.appt_time %>
</p>

<p>
  <strong>Username:</strong>
  <%= @appointment.username %>
</p>

<p>
  <strong>Doc:</strong>
  <%= @appointment.doc_id %>
</p>

<p>
  <strong>Patient:</strong>
  <%= @appointment.patient_id %>
</p>

<p>
  <strong>Username:</strong>
  <%= @appointment.username %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
