<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
 
</head>
<body>

<% flash.each do |name, msg| %>
	<%= content_tag :div, msg, :id => "#{name}" %>
<% end %>


<div id="header">
<%= image_tag("hopwebnew.JPG", size: "1200x200", :alt => "Sample App", :class => "round" ) %>
</div>
<br>
<br>

<div id="user_nav" style="color:#000000; position:relative; left:1100px; top:-200px;" >

	<% if current_user %>
		Logged in as <%= current_user.username %>
		<%= link_to "LOGOUT", log_out_path %>
	<% else %>
		
		<%= link_to "LOGIN", log_in_path %>
	<% end %>
</div>

<%= yield %>

<div id="slideShowImages">

<MARQUEE behavior="scroll" direction="left" width="100%" style="position:relative; top:-15px;">
        <%= image_tag "2173-fort-belvoir-community-hospital-3909.jpg" %>
  		<%= image_tag "Hospital (1).jpg" %>
  		<%= image_tag "Hospital-stuff.jpg" %>
  		<%= image_tag "hospital.jpg" %>
  		<%= image_tag "NYHQ_Heart_Hospital_banner.jpg" %>
    
  <button id="slideShowButton"></button> <!-- Optional button element. -->
  <script src="slideShow.js"></script>
 </MARQUEE>

</body>
</html>
